body {
    background-color: rgb(255, 255, 228);
    margin: 30px 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.tab-container {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.tab {
    color: white;
}

nav {
    background-color: brown;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: flex-start;
}

img {
    margin-right: 12px;
}

p {
    margin: 0px;
}

span {
    color: brown;
}